<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nanolx.miitomosecuritybypasser" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

		<meta-data
			android:name="xposedmodule"
			android:value="true" />

		<meta-data
			android:name="xposeddescription"
			android:value="Nintedo's first mobile application (Miitomo)
does several checks to prevent unauthorized usage of the app. While this might be
understandable, Nintendo, respectively Dena, does it in a way that locks out legit
users from Miitomo. This module hooks into Miitomo's security functions and ensures
your device is seen as a legit device." />

		<meta-data
			android:name="xposedminversion"
			android:value="30" />
    </application>
</manifest>
